.div {
  position: relative;
  margin-left: 1000px;
  margin-right: 1000px;
  margin-top: 400px;
}
.room {
  background-color: skyblue;
  width: 310px;
  height: 362px;
  position: absolute;
  border: solid 1px black;
}
.toper {
  background-color: gray;
  width: 200px;
  height: 90px;
  position: absolute;
  border: solid 1px black;
  margin-left: 110px;
}
.desk1 {
  background-color: tan;
  width: 60px;
  height: 100px;
  position: absolute;
  border: solid 1px black;
}
.desk2 {
  background-color: tan;
  width: 60px;
  height: 100px;
  position: absolute;
  border: solid 1px black;
  margin-top: 100px;
}
